name: Should run on push and prs into main

on:
  push:
    branches:
      - staging
  pull_request:
    branches:
      - staging

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Print my name
        run: echo "Hello, Moaaz Bhnas"
